@import 'configuration';

#filebrowser {
  position: fixed;
  left: 0;
  width: $filebrowser_width;
  height: 100%;
  background: whiteSmoke;
  overflow-y: auto;
  box-shadow: 0 0 15px #666;

  div.separator { height: 20px; }

  .file-container {
    .subdirectory { padding-left: 15px; }

    .file-item {
      line-height: 18px;

      input.rename-field {
        height: 19px;
        border: 0;
        padding: 0;
        margin: 0;
        padding-top: 1px;
      }

      [class^="icon-"] {
        margin-right: 2px;
        color: #555;
      }

      a {
        display: block;
        margin-right: -15px;
        margin-left: -15px;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
        padding: 3px 15px;
      }

      a:hover {
        text-decoration: none;
        background-color: #eeeeee;
      }
    }
  }

  .file-container.active > .file-item a,
  .file-container.active > .file-item a:hover {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    background-color: #0088cc;
  }
}