@import 'configuration';

.view-editor {
  position: fixed;
  height: 100%;
  width: 100%;
  left: $filebrowser_width + 5px;

  .CodeMirror {
    width: 100%;
    font-family: 'Monaco', 'Courier New';
    font-size: 12px;
    line-height: 18px;

    .CodeMirror-scroll {
      height: 500px; // To be resized with JS
      overflow: auto;
    }

    .CodeMirror-matchhighlight {
      border: 1px solid gray;
      background: whitesmoke;
      border-radius: 3px;
    }
  }

  .hovering {
    border: 2px dashed yellow;
  }

  #view_editor_header {
    height: 40px;
    position: fixed;
    top: 45px; 
    left: $filebrowser_width + 5px;
  }

  #view_container {
    min-height: 50px;
    margin-top: 45px;
    overflow-y: auto;
  }

  #code_container {
    margin-top: 45px;
  }

  #component_sidebar {
    background: whiteSmoke;
    overflow-y: auto;
    box-shadow: 0 0 15px #666;
    position: fixed;
    height: 100%;
    width: $filebrowser_width;
    right: 0px;
    top: 40px;

    div.switch-component {
      border: 0;

      .preview {
        display: inline;
      }

      .name {
        display: inline;
      }

      .payload,
      .drag-preview {
        display: none;
      }
    }

    li.component:hover {
      background: #eee;
    }
  }
}

// Has to be a top-level class in order for it 
// to style properly during dragging
div.switch-component {
  padding-left: 5px;
  line-height: 40px;
  cursor: move;
  height: 40px;
}