<div class="modal-header">
  <h3>Choose a project</h3>
</div>
<div class="modal-body">
  <ul class="unstyled">
    {{#projects}}
      <li>
        <a href="#/projects/{{id}}"> {{name}} </a>
      </li>
    {{/projects}}
  </ul>
</div>