<div id="view_editor_header">
  <ul class="nav nav-tabs">
    <li class="active pull-right view-editor-link">
      <a href="javascript:;">View Editor</a>
    </li>
    <li class="pull-right html-editor-link"><a href="javascript:;">HTML Source</a></li>
  </ul>
</div>


<div id="view_container" contenteditable>
  {{{view}}}
</div>

<div id="code_container" style="display: none;"></div>

<div id="component_sidebar" class="component-sidebar">
  <!-- <div class="switch-component">
    <div class="preview">
      &lt;html&gt;
    </div>
    Custom HTML code
  </div> -->

  <!-- <div class="switch-component" data-component-type="grid-row">
    <div class="payload">
      <div class="row">
        <div class="span6">&nbsp;</div>
        <div class="span6">&nbsp;</div>
      </div>
    </div>

    <div class="preview"></div>
    <span class="name">Grid Row</span>
  </div>   -->

  <!-- <div class="switch-component" data-component-type="row">
    <div class="payload">
      <div class="row"></div>
    </div>

    <div class="preview"></div>
    <span class="name">Row</span>
  </div> -->

  <!-- <div class="switch-component" data-component-type="span" data-component-drop-only="row">
    <div class="payload">
      <div class="span1"></div>
    </div>

    <div class="preview"></div>
    <span class="name">Span</span>
  </div> -->

  <!-- Tables -->
  <div class="switch-component" data-component-type="table" data-width="400">
    <div class="payload">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>First Column</th>
            <th>Second Column</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>First Row</td>
            <td>First Row</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="preview"></div>
    <span class="name">Table</span>
  </div>

  <!-- <div class="switch-component" data-component-type="table-row" data-component-drop-only="tbody" data-preview="true">
    <div class="payload">
      <tr>
        <td>Cell</td>
      </tr>
    </div>

    <div class="drag-preview">
      <table class="table table-bordered" style="width: 200px"><tbody><tr><td>Row</td></tr></tbody></table>
    </div>

    <div class="preview"></div>
    <span class="name">Table Row</span>
  </div>

  <div class="switch-component" data-component-type="table-cell" data-component-drop-only="tr" data-preview="true">
    <div class="payload">
      <td>Cell</td>
    </div>

    <div class="drag-preview">
      <table class="table table-bordered" style="width: 200px"><tbody><tr><td>Cell</td></tr></tbody></table>
    </div>

    <div class="preview"></div>
    <span class="name">Table Cell</span>
  </div> -->

  <!-- Button -->
  <div class="switch-component" data-component-type="button">
    <div class="payload">
      <button type="button" class="btn btn-primary">Button</button>
    </div>

    <div class="preview">
    </div>
    <span class="name">Button</span>
  </div>

  <div class="switch-component" data-component-type="button-toolbar">
    <div class="payload">
      <div class="btn-toolbar">
        <button class="btn">Button</button>

        <div class="btn-group">
          <button class="btn">Left</button>
          <button class="btn">Middle</button>
          <button class="btn">Right</button>
        </div>  
      </div>
    </div>

    <div class="preview"></div>
    <span class="name">Button Toolbar</span>
  </div>

  <!-- Button Group -->
  <div class="switch-component" data-component-type="button-group">
    <div class="payload">
      <div class="btn-group">
        <button class="btn">Left</button>
        <button class="btn">Middle</button>
        <button class="btn">Right</button>
      </div>
    </div>

    <div class="preview"></div>
    <span class="name">Button Group</span>
  </div>

  <div class="switch-component" data-component-type="button-dropdown">
    <div class="payload">
      <div class="btn-group">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
          Action
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="javascript:;">Menu Item</a></li>
          <li><a href="javascript:;">Menu Item</a></li>
        </ul>
      </div>
    </div>

    <div class="preview"></div>
    <span class="name">Button Dropdown</span>
  </div>

  <div class="switch-component" data-component-type="button-dropdown-split">
    <div class="payload">
      <div class="btn-group">
        <button class="btn">Action</button>
        <button class="btn dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="javascript:;">Menu Item</a></li>
          <li><a href="javascript:;">Menu Item</a></li>
        </ul>
      </div>
    </div>

    <div class="preview"></div>
    <span class="name">Split Button Dropdown</span>
  </div>

  <!-- Link -->
  <div class="switch-component" data-component-type="a">
    <div class="payload"><a href="javascript:;">Link</a></div>
    <div class="preview"></div>
    <span class="name">Link</span>
  </div>

  <!-- Plain Text Input -->
  <div class="switch-component">
    <div class="payload"><input type="text"></div>
    <div class="preview"></div>
    <span class="name">Single Text Input</span>
  </div>

  <div class="switch-component">
    <div class="payload">
      <form class="form-horizontal">
        <div class="control-group">
          <div class="control-label"><label for="new_input">Label</label></div>
          <div class="controls"><input type="text" name="new_input" id="new_input"></div>
        </div>

        <div class="control-group">
          <div class="control-label"><label for="new_input2">Label 2</label></div>
          <div class="controls"><input type="text" name="new_input2" id="new_input2"></div>
        </div>

        <div class="form-actions">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>

    <div class="preview"></div>
    <span class="name">Form</span>
  </div>

  <!-- Control Group Text Input with Label -->
  <div class="switch-component" data-component-type="label-button" data-component-drop-only="form">
    <div class="payload">
      <div class="control-group">
        <div class="control-label"><label for="new_input">Label</label></div>
        <div class="controls"><input type="text" name="new_input" id="new_input"></div>
      </div>
    </div>

    <div class="preview"></div>
    <span class="name">Form Input</span>
  </div>

  <div class="switch-component" data-component-type="label-checkbox-group" data-component-drop-only="form">
    <div class="payload">
      <div class="control-group">
        <div class="control-label"><label>Checkbox</label></div>
        <div class="controls">
          <label class="checkbox">
            <input type="checkbox" value="">
            Checkbox
          </label>
        </div>
      </div>
    </div>

    <div class="preview"></div>
    <span class="name">Form Checkbox Group</span>
  </div>

  <div class="switch-component" data-component-type="label-checkbox-single" data-component-drop-only=".controls">
    <div class="payload">
      <label class="checkbox">
        <input type="checkbox" value="">
        Checkbox
      </label>
    </div>

    <div class="preview"></div>
    <span class="name">Form Checkbox (single)</span>
  </div>

  <div class="switch-component" data-component-type="label-radio-group" data-component-drop-only="form">
    <div class="payload">
      <div class="control-group">
        <div class="control-label"><label>Radio</label></div>
        <div class="controls">
          <label class="radio">
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
            Radio 1
          </label>
          <label class="radio">
            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
            Radio 2
          </label>
        </div>
      </div>
    </div>

    <div class="preview"></div>
    <span class="name">Form Radio Group</span>
  </div>

  <div class="switch-component" data-component-type="label-radio-single" data-component-drop-only=".controls">
    <div class="payload">
      <label class="radio">
        <input type="radio" name="optionsRadios" value="option1">
        Radio
      </label>
    </div>

    <div class="preview"></div>
    <span class="name">Form Radio (single)</span>
  </div>

  <div class="switch-component" data-component-type="label-checkbox-inline-group" data-component-drop-only="form">
    <div class="payload">
      <div class="control-group">
        <div class="control-label"><label>Inline Checkboxes</label></div>
        <div class="controls">
          <label class="checkbox inline">
            <input type="checkbox" id="inlineCheckbox1" value="option1"> 1
          </label>
          <label class="checkbox inline">
            <input type="checkbox" id="inlineCheckbox2" value="option2"> 2
          </label>
          <label class="checkbox inline">
            <input type="checkbox" id="inlineCheckbox3" value="option3"> 3
          </label>
        </div>
      </div>
    </div>

    <div class="preview"></div>
    <span class="name">Form Inline Checkboxes</span>
  </div>

  <div class="switch-component" data-component-type="label-checkbox-inline-single" data-component-drop-only=".controls">
    <div class="payload">
      <label class="checkbox inline">
        <input type="checkbox" id="inlineCheckbox3" value="option3"> 1
      </label>
    </div>

    <div class="preview"></div>
    <span class="name">Form Inline Checkbox (single)</span>
  </div>

  <div class="switch-component" data-component-type="label-select" data-component-drop-only="form">
    <div class="payload">
      <div class="control-group">
        <div class="control-label"><label for="select">Select</label></div>
        <div class="controls">
          <select id="select" name="select">
            <optgroup>Options Group</optgroup>
            <option value="">Option 1</option>
            <option value="">Option 2</option>
            <option value="">Option 3</option>
            <optgroup>Options Group</optgroup>
            <option value="">Option 1</option>
          </select>
        </div>
      </div>
    </div>

    <div class="preview"></div>
    <span class="name">Form Select</span>
  </div>

  <div class="switch-component" data-component-type="label-prepended-input" data-component-drop-only="form">
    <div class="payload">
      <div class="control-group">
        <div class="control-label"><label for="prependedInput">Prepend</label></div>
        <div class="controls">
          <div class="input-prepend">
            <span class="add-on">@</span><input class="span2" id="prependedInput" size="16" type="text" placeholder="Username">
          </div>
        </div>
      </div>
    </div>

    <div class="preview"></div>
    <span class="name">Form Prepended Input</span>
  </div>

  <div class="switch-component" data-component-type="label-appended-input" data-component-drop-only="form">
    <div class="payload">
      <div class="control-group">
        <div class="control-label"><label for="appendedInput">Append</label></div>
        <div class="controls">
          <div class="input-append">
            <input class="span2" id="appendedInput" size="16" type="text"><span class="add-on">.00</span>
          </div>
        </div>
      </div>
    </div>

    <div class="preview"></div>
    <span class="name">Form Appended Input</span>
  </div>

  <div class="switch-component" data-component-type="label-combined-input" data-component-drop-only="form">
    <div class="payload">
      <div class="control-group">
        <div class="control-label"><label for="appendedInput">Append</label></div>
        <div class="controls">
          <div class="input-prepend input-append">
            <span class="add-on">$</span><input class="span2" id="appendedInput" size="16" type="text"><span class="add-on">.00</span>
          </div>
        </div>
      </div>
    </div>

    <div class="preview"></div>
    <span class="name">Form Combined Input</span>
  </div>

  <div class="switch-component" data-component-type="form-inline-help" data-component-drop-only=".controls">
    <div class="payload">
      <span class="help-inline">Inline Help</span>
    </div>

    <div class="preview"></div>
    <span class="name">Form Inline Help</span>
  </div>

  <div class="switch-component" data-component-type="form-block-help" data-component-drop-only=".controls">
    <div class="payload">
      <span class="help-block">Block Help</span>
    </div>

    <div class="preview"></div>
    <span class="name">Form Block Help</span>
  </div>

  <div class="switch-component" data-component-type="tabs">
    <div class="payload">
      <ul class="nav nav-tabs">
        <li class="active">
          <a href="javascript:;">Tab 1</a>
        </li>
        <li><a href="javascript:;">Tab 2</a></li>
        <li><a href="javascript:;">Tab 3</a></li>
      </ul>
    </div>

    <div class="preview"></div>
    <span class="name">Tabs</span>
  </div>

  <div class="switch-component" data-component-type="navlist" data-min-width="300">
    <div class="payload">
      <div class="well" style="padding: 8px 0;">
        <ul class="nav nav-list">
          <li class="nav-header">List header</li>
          <li class="active"><a href="javascript:;">Home</a></li>
          <li><a href="javascript:;">Library</a></li>
        </ul>
      </div>
    </div>

    <div class="preview"></div>
    <span class="name">Nav List</span>
  </div>

  <div class="switch-component" data-component-type="hero-unit" data-min-width="300">
    <div class="payload">
      <div class="hero-unit">
        <h1>Heading</h1>
        <p>Tagline</p>
        <p>
          <a class="btn btn-primary btn-large">
            Learn more
          </a>
        </p>
      </div>
    </div>

    <div class="preview"></div>
    <span class="name">Hero Unit</span>
  </div>

  <div class="switch-component" data-component-type="page-header" data-min-width="400">
    <div class="payload">
      <div class="page-header">
        <h1>Title <small>Subtext</small></h1>
      </div>
    </div>

    <div class="preview"></div>
    <span class="name">Page Header</span>
  </div>

  <div class="switch-component" data-component-type="alert" data-min-width="400">
    <div class="payload">
      <div class="alert">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>Warning!</strong> Best check yo self, you're not looking too good.
      </div>
    </div>

    <div class="preview"></div>
    <span class="name">Alert</span>
  </div>

  <div class="switch-component" data-component-type="alert-block" data-min-width="300">
    <div class="payload">
      <div class="alert alert-block">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <h4>Warning!</h4>
        Best check yo self, you're not...
      </div>
    </div>

    <div class="preview"></div>
    <span class="name">Alert Block</span>
  </div>

  <div class="switch-component" data-component-type="progress-bar">
    <div class="payload">
      <div class="progress">
        <div class="bar" style="width: 60%;"></div>
      </div>
    </div>

    <div class="preview"></div>
    <span class="name">Progress Bar</span>
  </div>

  <div class="switch-component" data-component-type="well">
    <div class="payload">
      <div class="well">
        Well
      </div>
    </div>

    <div class="preview"></div>
    <span class="name">Well</span>
  </div>

  <div class="switch-component" data-component-type="navbar" data-min-width="300">
    <div class="payload">
      <div class="navbar navbar-inverse">
        <div class="navbar-inner">
          <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> 
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button> 

            <a class="brand" href="#/">Brand</a>

            <div class="nav-collapse collapse">
              <ul class="nav">
                <li><a href="#/">Home</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="preview"></div>
    <span class="name">Navbar</span>
  </div>

  <div class="switch-component" data-component-type="navbar-nav-link" data-component-drop-only="ul.nav" data-preview="true">
    <div class="payload">
      <li><a href="#">Link</a></li>
    </div>

    <div class="drag-preview">
      <div class="navbar navbar-inverse">
        <div class="navbar-inner">
          <ul class="nav">
            <li><a href="#">Link</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="preview"></div>
    <span class="name">Navbar Link</span>
  </div>

  <div class="switch-component" data-component-type="navbar-nav-divider" data-component-drop-only="ul.nav" data-preview="true">
    <div class="payload">
      <li class="divider-vertical"></li>
    </div>

    <div class="drag-preview">
      <div class="navbar navbar-inverse">
        <div class="navbar-inner">
          <ul class="nav">
            <li class="divider-vertical"></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="preview"></div>
    <span class="name">Navbar Divider</span>
  </div>

  <div class="switch-component" data-component-type="navbar-nav-form" data-component-drop-only=".navbar-inner">
    <div class="payload">
      <form class="navbar-form pull-left">
        <input type="text" class="span2">
        <button type="submit" class="btn">Submit</button>
      </form>
    </div>

    <div class="preview"></div>
    <span class="name">Navbar Form</span>
  </div>

  <div class="switch-component" data-component-type="navbar-nav-search-form" data-component-drop-only=".navbar-inner">
    <div class="payload">
      <form class="navbar-search pull-left">
        <input type="text" class="search-query" placeholder="Search">
      </form>
    </div>

    <div class="preview"></div>
    <span class="name">Navbar Search Form</span>
  </div>

  <div class="switch-component" data-component-type="navbar-nav-dropdown" data-component-drop-only="ul.nav" data-preview="true">
    <div class="payload">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Dropdown
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
        </ul>
      </li>
    </div>

    <div class="drag-preview">
      <div class="navbar navbar-inverse">
        <div class="navbar-inner">
          <ul class="nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Dropdown
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="preview"></div>
    <span class="name">Navbar Dropdown</span>
  </div>

  <div class="switch-component" data-component-type="label">
    <div class="payload">
      <span class="label label-success">Label</span>
    </div>

    <div class="preview"></div>
    <span class="name">Label</span>
  </div>

  <div class="switch-component" data-component-type="badge">
    <div class="payload">
      <span class="badge badge-success">42</span>
    </div>

    <div class="preview"></div>
    <span class="name">Badge</span>
  </div>
</div>
